select {
    width: 185px;
    height: 35px;
    font-size: 12px;
    margin: 0 auto;
    border-radius: 20px;
    text-align: center;
}

body {
    width: 360px;
    height: 740px;
    margin: 0 auto;
}

root {
    border: 5px solid black;
    margin-top: 50px;
}